/* Fonts */

/* roboto-regular - latin_cyrillic */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
       url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), /* Modern Browsers */
       url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
       url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), /* Modern Browsers */
       url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), /* Modern Browsers */
       url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #444444;
  --basic-neutral: #666666;
  --basic-extra-light: #EEEEEE;
  --basic-white: #FFFFFF;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;

  --more-red: #E74246;
  --very-red: #D7373B;
  --more-green: #00BC6C;
  --very-green: #00AA62;
  --more-yellow: #EAB534;
  --very-yellow: #E5A722;
  --gray: #DFDFDF;
  --gray-scale: #D7DCDF;
  --gray-toggle: #ABABAB;
  --gray-radio: #4D4D4D;
  --more-gray: #D5D5D5;
  --very-gray: #E1E1E1;
  --less-white: #DBDBDB;
  --gray-logo: #A6A6A6;
  --item-pic: #F2F2F2;
  --border-input-modal: #D7DCDE;
  --light-gray: #C1C1C1;
}

/* Global */

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/* Main navigation */

.main-header {
  width: 100%;
  background-color: var(--basic-extra-light);
  margin: 0 auto;
  padding-top: 43px;
}

.main-navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 1160px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  text-transform: uppercase;
}

.main-header-logo {
  padding-top: 4px;
}

.site-navigation {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-right: 36px;
  justify-self: center;
  align-items: center;
  position: relative;
}

.active::before {
  content: "";
  width: 73px;
  height: 2px;
  background-color: var(--basic-red);
  position: absolute;
  top: 62px;
  left: 247px;
}

.user-navigation {
  margin-top: 31px;
  position: relative;
}

.basket-link::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM12.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951V2z' fill='%23A6A6A6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 7px;
  right: 101px;
}

.site-navigation a {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
}

.basket-link {
  padding-left: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation a,
.site-navigation a {
  color: var(--basic-black);
}

.main-navigation a:hover,
.main-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-red);
}

.main-navigation a:active,
.site-navigation a:active{
  color: var(--basic-black);
  opacity: 0.3;
}

/* Button */

.button {
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.features-button:hover,
.features-button:focus,
.market-button-notebook:hover,
.market-button-notebook:focus,
.contacts-button:hover,
.contacts-button:focus,
.modal-button:hover,
.modal-button:focus,
.social-link:hover,
.social-link:focus {
  background-color: var(--more-red);
}

.features-button:active,
.market-button-notebook:active,
.contacts-button:active,
.modal-button:active,
.social-link:active {
  background-color: var(--very-red);
}

.social-item:active path {
  opacity: 0.3;
}

.market-button-smartphone:hover,
.market-button-smartphone:focus {
  background-color: var(--more-green);
}

.market-button-smartphone:active{
  background-color: var(--very-green);
}

.market-button-stand:hover,
.market-button-stand:focus {
  background-color: var(--more-yellow);
}

.market-button-stand:active {
  background-color: var(--very-yellow);
}

.features-button:active span,
.market-button:active span {
  color: var(--basic-white);
  opacity: 0.3;
}

.buy-button {
  background-color: var(--basic-black);
}

/* Wrapper */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container,
.container-catalog {
  width: 100%;
  margin: 0 auto;
}

.features-container {
  display: grid;
  background-color: var(--basic-extra-light);
  width: 100%;
  min-height: 421px;
  margin: 0 auto;
}

.slide-1,
.slide-2,
.slide-3 {
  display: none;
  position: relative;
}

.slide-active {
  display: block;
}

.features-slide-controls {
  position: relative;
  top: -35px;
  left: 535px;
  z-index: 5;
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.features-slide-controls button {
  position: relative;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.features-slide-controls .features-slide-current::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border: 2px solid var(--light-gray);
  border-radius: 50%;
}

.slide-1 img,
.slide-2 img,
.slide-3 img {
  position: absolute;
  top: -79px;
  right: 4px;
}

.features-advantages {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  margin-top: 69px;
}

.features-description {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
  margin: 0;
  padding: 0;
  margin-top: 26px;
}

.features-button {
  background-color: var(--basic-red);
  display: inline-block;
  vertical-align: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 54px;
  padding-right: 54px;
  margin-top: 39px;
}

.main-container,
.container-catalog {
  display: grid;
}

.market,
.template,
.store-title,
.main-container-catalog,
.features {
  width: 1160px;
  margin: 0 auto;
}

/* Market */

.market-list {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}


.market-item {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.market-item img {
  order: -1;
  margin-bottom: 25px;
}

.market-item p {
  margin-top: 17px;
  margin-bottom: 31px;
  padding: 0;
}

.market-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.market-item a {
  display: inline-block;
  vertical-align: auto;
  margin: 0;
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 39px;
}

.market-button-notebook {
  background-color: var(--basic-red);
}

.market-button-smartphone {
  background-color: var(--basic-green);
}

.market-button-stand {
  background-color: var(--basic-yellow);
}

/* Content */

.features-info {
  width: 1160px;
  margin: 0 auto;
  border-top: 2px solid var(--basic-extra-light);
  padding-top: 39px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content img {
  width: 360px;
  height: 208px;
}

.content-heading {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  margin-top: 35px
}

.content-description {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
  margin: 0;
  padding: 0;
  margin-top: 33px
}

/* Statistics */

.content-list-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.content-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 168px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.content-item {
  position: relative;
  margin-left: 35px;
  font-size: 16px;
  line-height: 24px;
}

.content-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.statistics {
  display: flex;
  justify-content: space-between;
  height: 170px;
  margin-top: 38px;
}

.statistics-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  width: 357px;
  margin: 0 auto;
  padding: 0;
}

.statistics-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  margin-left: -3px;
}

.statistics-item {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
  margin-top: 29px;
  margin-left: -3px;
}

.percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

.statistics-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-top: 12px;
}

/* Template */

.features-template {
  display: grid;
  grid-template-columns: 1fr 300px 300px 1fr;
  height: 180px;
  margin-top: 70px;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
  border-top: 2px solid var(--basic-extra-light);
  border-bottom: 2px solid var(--basic-extra-light);
}

.template-link-left {
  padding-top: 7px;
  padding-right: 18px;
}

.template-link-right {
  padding-top: 4px;
  padding-left: 20px;
}

.features-template .features-template-item {
  position: relative;
}

.features-template-item:not(:nth-last-child(1))::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 64px;
  right: 0;
  z-index: 10;
  background-color: var(--basic-extra-light);
}

.features-template .features-template-item:last-child {
  margin-right: 0;
}

.template-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.template-link img {
  opacity: 0.2;
}

.template-link img:hover,
.template-link img:focus {
  opacity: 1;
}

.template-link img:active {
  opacity: 0.1;
}

/* Catalog */

.main-container-catalog{
  display: grid;
  grid-template-columns: 33% 67%;
}

.store {
  width: 100%;
  margin: 0 auto;
  background-color: var(--basic-extra-light);
}

.store h1 {
  width: 1160px;
  text-align: center;
  padding-top: 68px;
  padding-bottom: 108px;
  color: var(--basic-black);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/* Filter */

.filters {
  width: 260px;
}

.filter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter ul {
  list-style: none;
}

.filter-option {
  position: relative;
}

.filter-input {
  cursor: pointer;
}

/* Range */

.filter-item {
  margin: 0;
  margin-top: 55px;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--basic-extra-light);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: var(--gray-scale);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--gray-toggle);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  width: 60px;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  color: var(--basic-extra-dark);
  background-color: var(--basic-extra-light);
  border: none;
  border-radius: 3px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

/* Radio */

.radio-item {
  margin: 0;
  margin-top: 54px;
  padding: 0;
  border: none;
}

.filter-radio-item {
  padding: 0;
  padding-left: 35px;
  width: 260px;
  min-height: 99px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-input-radio + label::before {
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 12.5C0 5.597 5.597 0 12.5 0S25 5.597 25 12.5 19.403 25 12.5 25 0 19.403 0 12.5zm21 0C21 7.813 17.187 4 12.5 4 7.813 4 4 7.813 4 12.5c0 4.687 3.813 8.5 8.5 8.5 4.687 0 8.5-3.813 8.5-8.5z' fill='%234D4D4D'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: absolute;
  top: -4px;
  left: -36px;
  opacity: 0.4;
  cursor: pointer;
}

.filter-input-radio:checked + label::after {
  content: "";
  width: 9px;
  height: 9px;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 9a4.5 4.5 0 100-9 4.5 4.5 0 000 9z' fill='%234D4D4D'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  left: -28px;
  opacity: 0.4;
  cursor: pointer;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-radio:hover:checked + label::after,
.filter-input-radio:focus:checked + label::after {
  opacity: 1;
}

.filter-input-radio:disabled + label::before {
  opacity: 0.1;
}

.filter-input-radio:disabled + label {
  opacity: 0.3;
}

/* Checkbox */

.checkbox-item {
  margin: 0;
  margin-top: 29px;
  padding: 0;
  border: none;
}

.filter-checkbox-item {
  padding: 0;
  padding-left: 35px;
  width: 260px;
  min-height: 179px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-input-checkbox + label::before {
  content: "";
  height: 23px;
  width: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0h17a3 3 0 013 3v17a3 3 0 01-3 3H3a3 3 0 01-3-3V3a3 3 0 013-3zm18 3c0-.54-.46-1-1-1H3c-.54 0-1 .46-1 1v17c0 .54.46 1 1 1h17c.54 0 1-.46 1-1V3z' fill='%234D4D4D'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: absolute;
  top: -2px;
  left: -36px;
  opacity: 0.4;
  cursor: pointer;
}

.filter-input-checkbox:checked + label::before {
  width: 25px;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.96 8.49l-2.7 2.82 7.43 7.79L25 5.17l-2.7-2.83-10.6 11.1-4.74-4.95z' fill='%234D4D4D'/%3E%3Cpath d='M21 20c0 .54-.46 1-1 1H3c-.54 0-1-.46-1-1V3c0-.54.46-1 1-1h16.9L21.5.42A2.96 2.96 0 0020 0H3a3 3 0 00-3 3v17a3 3 0 003 3h17a3 3 0 003-3v-9.83l-2 2V20z' fill='%234D4D4D'/%3E%3C/svg%3E");
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:hover:checked + label::before,
.filter-input-checkbox:focus:checked + label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.1;
}

.filter-input-checkbox:disabled + label {
  opacity: 0.3;
}

/* Filter Button */

.filter-button {
  margin-top: 35px;
  width: 260px;
  height: 50px;
  background-color: var(--basic-extra-light);
  color: var(--basic-black);
  border: none;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--gray);
}

.filter-button:active {
  background-color: var(--more-gray);
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Sorting */

.sorting {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
  margin-right: 0;
  width: 760px;
}

.sorting .filter-title {
  margin-left: 17px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 322px;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-right: 21px;
}

.sorting-item {
  color: var(--basic-black);
  opacity: 0.3;
  cursor: pointer;
  position: relative;
}

.sorting-button-down {
  position: absolute;
  top: -1px;
  left: 22px;
}

.sorting-button-up {
  position: absolute;
  top: -1px;
  left: 26px;
}

.sorting-list .current {
  opacity: 1;
  cursor: pointer;
}

.sorting-item:hover,
.sorting-item:focus {
  opacity: 0.6;
  cursor: pointer;
}

.sorting-item:active {
  opacity: 1;
  cursor: pointer;
}

/* List Template */

.list-template {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 30px;
  width: 760px;
  min-height: 1920px;
  margin-left: 18px;
}

/* List Template Item */

.list-template-item {
  margin-right: 40px;
  margin-bottom: 30px;
  position: relative;
  border-radius: 5px;
}

.list-template-item:nth-child(2n) {
  margin-right: 0;
}

.list-template-item:hover,
.list-template-item:focus {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.list-template-item:hover .tamplate-header,
.list-template-item:focus .tamplate-header,
.list-template-item:hover .purchase-block,
.list-template-item:focus .purchase-block {
  opacity: 1;
}



/* Slider Controls */

.tamplate-header {
  width: 360px;
  min-height: 40px;
  background-color: var(--gray-radio);
  opacity: 0.12;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.tamplate-header-circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--basic-white);
  margin-right: 9px;
}

.tamplate-header .tamplate-header-circle:nth-child(1) {
  margin-left: 16px;
}

.item-pic {
  display: flex;
  width: 360px;
  height: 580px;
  background-color: var(--item-pic);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.item-pic img {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0 auto;
  margin-bottom: 1px;
}

/* Purchase Block */

.purchase-block {
  width: 360px;
  min-height: 231px;
  background-color: var(--basic-extra-light);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.purchase-block-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 29px;
  margin-right: 2px;
}

.purchase-block-title:hover,
.purchase-block-title:focus {
  color: var(--basic-red);
}

.purchase-block-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.purchase-block-desc {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-neutral);
  padding: 0;
  margin: 0;
  margin-top: 16px;
  margin-right: 7px;
  padding-bottom: 95px;
}

.buy-button {
  display: inline-block;
  vertical-align: auto;
  padding: 16px 72px;
  background-color: var(--basic-red);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: absolute;
  left: 79px;
  bottom: 43px;
}

.buy-button:hover,
.buy-button:focus {
  background-color: var(--more-red);
}

.buy-button:active {
  background-color: var(--very-red);
}

/* Pagination */

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 48px;
  margin-left: 18px;
  display: flex;
  flex-wrap: wrap;
}

.pagination-item a {
  display: block;
  padding: 16px 20px;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-item-next a {
  padding: 16px 80px;
}

.pagination-item {
  margin-right: 11px;
  margin-bottom: 11px;
}

.pagination-item-current a {
  background-color: var(--basic-white);
  border: 3px solid var(--less-white);
  padding: 13px 17px;
}

.pagination-item:not(.pagination-item-current) a:hover,
.pagination-item:not(.pagination-item-current) a:focus {
  background-color: var(--gray);
}

.pagination-item:not(.pagination-item-current) a:active {
  background-color: var(--more-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Footer-contacts*/

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
  position: absolute;
  top: 55px;
  left: 140px;
  width: 269px;
  height: 308px;
  background-color: var(--basic-white);
}

.contacts-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 48px;
}

.contacts-description {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-neutral);
  position: absolute;
  top: 101px;
}

.contacts-button {
  padding: 16px 44px;
  margin: 0;
  background-color: var(--basic-red);
  position: absolute;
  top: 210px;
}

.phone {
  color: var(--basic-neutral);
  position: absolute;
  top: 152px;
}

/* Main-footer */

.map-container {
  position: relative;
  width: 1440px;
  margin: 0 auto;
}

.footer-map-image {
  display: block;

}

.map-marker {
  position: absolute;
  top: 86px;
  left: 822px;
}

.main-footer {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content;
  margin: 0;
  padding: 0;
}

.map-wrap {
  background-color: var(--basic-extra-light);
  margin-bottom: 68px;
}

.footer-contacts {
  z-index: 1;
}

.main-footer{
  display: grid;
}

/* Footer Container */

.footer-container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 25% 1fr;
}

.footer-social {
  position: relative;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 261px;
  column-gap: 9px;
  list-style: none;
  margin: 0;
  margin-bottom: 58px;
  padding: 0;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--very-gray);
  margin-bottom: 10px;
}

.footer-sale {
  margin: 0;
  padding: 0;
  margin-left: 109px;
  margin-top: 7px;
}

.social-subtitle {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.social-description {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 960px;
  height: 590px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  display: none;
}

.modal div {
  width: 760px;
  margin: 0 auto;
  position: relative;
}

.modal-form {
  margin-top: 18px;
}

.modal-form div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-form input {
  width: 328px;
  border: 2px solid var(--border-input-modal);
  border-radius: 3px;
  margin-top: 6px;
  margin-bottom: -1px;
  padding-left: 14px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
}

.modal-form textarea {
  width: 727px;
  border: 2px solid var(--border-input-modal);
  border-radius: 3px;
  min-height: 86px;
  margin-top: 6px;
  padding-left: 15px;
  padding-top: 14px;
  padding-right: 15px;
  padding-bottom: 14px;
}

.modal-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  margin-top: 63px;
}

.modal-subtitle label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.modal-button {
  display: inline-block;
  vertical-align: auto;
  padding-left: 83px;
  padding-top: 17px;
  padding-right: 83px;
  padding-bottom: 15px;
  margin-top: 24px;
  margin-left: 2px;
  border: none;
  cursor: pointer;
  background-color: var(--basic-red);
}

.modal-close {
  position: absolute;
  top: 15px;
  right: -10px;
  width: 21px;
  height: 21px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before {
  content: "";
  width: 21px;
  height: 21px;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.33 10.5l7.38-7.38a1 1 0 000-1.41L19.29.29a1 1 0 00-1.41 0L10.5 7.67 3.12.29a1 1 0 00-1.41 0L.29 1.71a1 1 0 000 1.41l7.38 7.38-7.38 7.38a1 1 0 000 1.41l1.42 1.42a1 1 0 001.41 0l7.38-7.38 7.38 7.38a1 1 0 001.41 0l1.42-1.42a1 1 0 000-1.41l-7.38-7.38z' fill='%23FB565A'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.modal-close:hover::before,
.modal-close:focus::before {
  opacity: 1;
}

.modal-close:active::before {
  opacity: 0.1;
}
