/* Fonts */

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-dark: #444444;
  --basic-neutral: #666666;
  --basic-extra-light: #EEEEEE;
  --basic-white: #FFFFFF;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;

  --more-red: #E74246;
  --very-red: #D7373B;
  --more-green: #00BC6C;
  --very-green: #00AA62;
  --more-yellow: #EAB534;
  --very-yellow: #E5A722;
  --gray: #DFDFDF;
  --gray-scale: #D7DCDF;
  --gray-toggle: #ABABAB;
  --gray-radio: #4D4D4D;
  --more-gray: #D5D5D5;
  --very-gray: #E1E1E1;
  --less-white: #DBDBDB;
  --gray-logo: #A6A6A6;
  --item-pic: #F2F2F2;
}

/* Global */

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/* Main navigation */

.main-header {
  width: 100%;
  background-color: var(--basic-extra-light);
  margin: 0 auto;
}

.main-navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 1160px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  text-transform: uppercase;
  outline: 5px solid rgba(255, 125, 0, 0.3);
  outline-offset: -5px;
}

.site-navigation {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 45px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 45px;
  justify-self: center;
}

.basket-link {
  margin-top: 45px;
  position: relative;
}

.basket-link img {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 7px;
  left: -35px;
}

.main-navigation a,
.site-navigation a {
  color: var(--basic-black);
}

.main-navigation a:hover,
.main-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-red);
}

.main-navigation a:active,
.site-navigation a:active{
  color: var(--basic-black);
  opacity: 0.3;
}

/* Button */

.button {
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.features-button {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 54px;
  padding-right: 54px;
}

.features-button:hover,
.features-button:focus,
.market-button-notebook:hover,
.market-button-notebook:focus,
.contacts-button:hover,
.contacts-button:focus,
.modal-button:hover,
.modal-button:focus,
.social-link:hover,
.social-link:focus {
  background-color: var(--more-red);
}

.features-button:active,
.market-button-notebook:active,
.contacts-button:active,
.modal-button:active,
.social-link:active {
  background-color: var(--very-red);
}

.social-item:active path {
  opacity: 0.3;
}

.market-button-smartphone:hover,
.market-button-smartphone:focus {
  background-color: var(--more-green);
}

.market-button-smartphone:active{
  background-color: var(--very-green);
}

.market-button-stand:hover,
.market-button-stand:focus {
  background-color: var(--more-yellow);
}

.market-button-stand:active {
  background-color: var(--very-yellow);
}

.buy-button {
  background-color: black;
}

/* Wrapper */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container,
.container-catalog {
  width: 100%;
  margin: 0 auto;
}

.features-container {
  display: grid;
  background-color: var(--basic-extra-light);
  width: 100%;
  margin: 0 auto;
}

.features-container {
  height: 431px;
}

.slide-1,
.slide-2,
.slide-3 {
  position: relative;
}

.slide-1 img,
.slide-2 img,
.slide-3 img {
  position: absolute;
  top: -55px;
  right: 0;
}

.features-advantages {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.features-description {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.features-button,
.modal-button {
  background-color: var(--basic-red);
}

.main-container,
.container-catalog {
  display: grid;
}

.market,
.template,
.store-title,
.main-container-catalog,
.features {
  width: 1160px;
  margin: 0 auto;
}

/* Market */

.market-list {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
}

.market-item:not(.market-button) {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 80px;
}

.market-item img {
  order: -1;
  margin-bottom: 25px;
}

.market-item p {
  padding-bottom: 15px;
}

.market-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.market-button {
  display: flex;
  width: 160px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.market-button-notebook {
  background-color: var(--basic-red);
}

.market-button-smartphone {
  background-color: var(--basic-green);
}

.market-button-stand {
  background-color: var(--basic-yellow);
}

/* Content */

.features-info {
  width: 1160px;
  margin: 0 auto;
  border-top: 2px solid var(--basic-extra-light);
  padding-top: 39px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content img {
  width: 360px;
  height: 208px;
}

.content-heading {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.content-description {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

/* Statistics */

.content-list-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.content-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 159px;
  list-style: none;
  padding: 0;
}

.content-item {
  position: relative;
  margin-left: 32px;
  font-size: 16px;
  line-height: 24px;
}

.content-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -32px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.statistics {
  display: flex;
  justify-content: space-between;
  height: 170px;
  margin-top: 38px;
}

.statistics-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  width: 360px;
  margin: 0 auto;
  padding: 0;
}

.statistics-heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.statistics-item {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

.statistics-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

/* Template */

.features-template {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 80px;
  margin-top: 73px;
  padding: 0;
  list-style: none;
  height: 180px;
  border-top: 2px solid var(--basic-extra-light);
  border-bottom: 2px solid var(--basic-extra-light);
}

.features-template .features-template-item {
  position: relative;
}

.features-template .features-template-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  top: 20%;
  transform: translateY(20%);
  right: -35px;
  z-index: 10;
  background-color: red;
}

.features-template .features-template-item:last-child {
  margin-right: 0;
}

.template-link img {
  opacity: 0.2;
}

.template-link img:hover,
.template-link img:focus {
  opacity: 1;
}

.template-link img:active {
  opacity: 0.1;
}

/* Catalog */

.main-container-catalog{
  display: grid;
  grid-template-columns: 33% 67%;
}

.store {
  width: 100%;
  margin: 0 auto;
  background-color: var(--basic-extra-light);
}

.store h1 {
  width: 1160px;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 108px;
  color: var(--basic-black);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/* Filter */

.filters {
  width: 260px;
}

.filter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter ul {
  list-style: none;
}

.filter-option label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

/* Range */

.filter-item {
  margin: 0;
  margin-top: 55px;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--basic-extra-light);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: var(--gray-scale);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--gray-toggle);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  width: 60px;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  color: var(--basic-extra-dark);
  background-color: var(--basic-extra-light);
  border: none;
  border-radius: 3px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

/* Radio */

.radio-item {
  margin: 0;
  margin-top: 54px;
  padding: 0;
  border: none;
}

.filter-radio-item {
  padding: 0;
  padding-left: 36px;
  width: 260px;
  min-height: 99px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: -3px;
  left: -35px;
  border: 3px solid var(--gray-radio);
  opacity: 0.4;
  border-radius: 50%;
}

/* Checkbox */

.checkbox-item {
  margin: 0;
  margin-top: 43px;
  padding: 0;
  border: none;
}

.filter-checkbox-item {
  padding: 0;
  padding-left: 36px;
  width: 260px;
  min-height: 179px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  top: -2px;
  left: -35px;
  border: 3px solid var(--gray-radio);
  opacity: 0.4;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;

}

/* Filter Button */

.filter-button {
  margin-top: 50px;
  width: 260px;
  height: 50px;
  background-color: var(--basic-extra-light);
  color: var(--basic-black);
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--gray);
}

.filter-button:active {
  background-color: var(--more-gray);
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Sorting */

.sorting {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
  margin-right: 0;
  width: 760px;
}

.filter-title {
  margin-left: 17px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 343px;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 25px;
}

.sorting-item {
  color: var(--basic-black);
  opacity: 0.3;
  cursor: pointer;
}

.sorting-item:hover,
.sorting-item:focus {
  opacity: 0.6;
  cursor: pointer;
}

.sorting-list .current {
  opacity: 1;
  cursor: pointer;
}


/* List Template */

.list-template {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: 760px;
  min-height: 1920px;
  margin-left: 18px;
}

/* List Template Item */

.list-template-item {
  margin-right: 40px;
  margin-bottom: 30px;
  position: relative;
  border-radius: 5px;
}

.list-template-item:nth-child(2n) {
  margin-right: 0;
}

.list-template-item-current {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

/* Slider Controls */

.slider-controls {
  width: 360px;
  min-height: 40px;
  background-color: var(--gray-radio);
  opacity: 0.12;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.slider-controls-current {
  opacity: 1;
}

.slider-controls button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--basic-white);
  border: none;
  margin-right: 9px;
  cursor: pointer;
}

.slider-controls button:nth-child(1) {
  margin-left: 16px;
}

.item-pic {
  display: flex;
  width: 360px;
  height: 580px;
  background-color: var(--item-pic);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.item-pic img {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0 auto;
  margin-bottom: 1px;
}

/* Purchase Block */

.purchase-block {
  width: 360px;
  height: 231px;
  background-color: var(--basic-extra-light);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  bottom: 0;
}

.purchase-block-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  text-align: center;
  display: float;
  padding-top: 10px;
}

.purchase-block-desc {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-neutral);
}

.buy-button {
  display: inline-block;
  padding: 16px 72px;
  background-color: var(--basic-red);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: absolute;
  left: 80px;
  bottom: 44px;
}

.buy-button:hover,
.buy-button:focus {
  background-color: var(--more-red);
}

.buy-button:active {
  background-color: var(--very-red);
}

/* Pagination */

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 45px;
  margin-left: 18px;
  display: flex;
  flex-wrap: wrap;
}

.pagination-item a {
  display: block;
  padding: 16px 20px;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-item-next a {
  padding: 16px 78px;
}

.pagination-item {
  margin-right: 11px;
  margin-bottom: 11px;
}

.pagination-item-current a {
  background-color: var(--basic-white);
  border: 3px solid var(--less-white);
  padding: 13px 17px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--gray);
}

.pagination-item a:active {
  background-color: var(--more-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Footer-contacts*/

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
  position: absolute;
  top: 55px;
  left: 140px;
  width: 269px;
  height: 308px;
  background-color: var(--basic-white);
}

.contacts-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 40px;
}

.contacts-description {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-neutral);
}

.contacts-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 219px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--basic-red);
}

.phone {
  color: var(--basic-neutral);
}

/* Footer-social */

.footer-social {
  margin-bottom: 68px;
}

.social-subtitle {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.social-description {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 261px;
  column-gap: 9px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--very-gray);
}

/* Main-footer */

.footer-map {
  position: relative;
  margin-bottom: 68px;
}

.map-marker {
  position: absolute;
  top: 85px;
  left: 822px;
}

.main-footer {
  display: grid;
  grid-template-rows: 1fr min-content;
}

.footer-1 {
  display: grid;
  margin: 0 auto;
  z-index: 0;
  position: relative;
}

.footer-contacts {
  z-index: 1;
}

.main-footer{
  display: grid;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 25% 1fr;
}

.footer-sale {
  position: relative;
  margin-left: 139px;
}

.social-subtitle {
  position: absolute;
  top: -29px;
  left: -26px;
}

.social-description {
  position: absolute;
  top: 38px;
  left: -26px;
}


/* Modal */

.modal-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.modal-subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.modal-lead {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  opacity: 0.5;
}
